<footer>
	 <div class="w3-display-container w3-animate-opacity">
	    <%= image_tag "https://s3.amazonaws.com/moitruongasia/footer+background", style: "width:100%;min-height:350px;max-height:680px;" %>
	    <div class="w3-round w3-container w3-display-bottomleft  w3-margin" style="color:white;background:#0b5394;opacity:0.6">  
			<h1>Công Ty Môi Trường Asia</h1>
		    <h3><i class="fa fa-phone"></i> 0973688626</h3>
			<a class="w3-btn-floating w3-teal" href="https://www.facebook.com/ydt.nguyen?fref=ts" title="Facebook"><i class="fa fa-facebook"></i></a>
			  
	    	
	    </div>
	    
	      
			
	    	<%= link_to admin_root_path, class: "w3-display-bottomright" do %><p><strong><span style="color: rgb(184, 49, 47);"><i class="fa fa-user" aria-hidden="true"></i> ĐĂNG NHẬP</span></strong></p><% end %>
	    
	    
	    
	    
	</div>
	
	
</footer>