<footer>
	 <div class="w3-display-container w3-animate-opacity">
	    <%= image_tag "https://s3.amazonaws.com/froala/temp_files%2F1462332392850-7-Water-Heart-Love-Wallpapers-HD.jpg", style: "width:100%;min-height:350px;max-height:680px;" %>
	    <div class="w3-round w3-container w3-display-bottomleft  w3-margin" style="color:white;background:#0b5394;opacity:0.6">  
			<h1>Công Ty CPTM Môi Trường Việt</h1>
			<h3><i class="fa fa-phone"></i> 09087668888</h3>
			<h3><i class="fa fa-map-marker"></i> 26, Nguyễn Sỹ Sách, TP.Vinh</h3>
			<a class="w3-btn-floating w3-teal" href="https://www.facebook.com/ydt.nguyen?fref=ts" title="Facebook"><i class="fa fa-facebook"></i></a>
			  
	    	
	    </div>
	    
	      
			
	    	<%= link_to admin_root_path, class: "w3-display-bottomright" do %><p><strong><span style="color: rgb(184, 49, 47);"><i class="fa fa-user" aria-hidden="true"></i> ĐĂNG NHẬP</span></strong></p><% end %>
	    
	    
	    
	    
	</div>
	
	
</footer>