<footer>
	 <div class="w3-display-container w3-animate-opacity">
	    <%= image_tag "https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-919222124647/refinery-at-night.jpg?X-Amz-Date=20160504T140456Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9d2587ad19307d777fd728af60b77a784458826b6cbb41be8e2055e8ef71f5d9&X-Amz-Credential=ASIAJOAARHZOFAVQKY3A/20160504/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEF8aDHW7kaoCXJ5PChyTtSLHAb5qkvXrPLXkL5SvJQzetv2SMhi9HGOn15lHyYVmZLteTgibstAXTbCa5/q7tRfufJGCdDDPL9cbFEP1bb/THncWW5FLh/QGcSaB4Pmdo58yV9LUABXZCM%2BJ2x%2ByUR206iGl9D2X88vC%2BvOAS/EIFfrY8EUHzA4ERDlpcBNd9lCwWnUzgcauZ1qdcFzW11kVyNyfX%2BJJva4rzHfpsHxeGiQDFa9aIF9R/U2sXoygQ9zhzvNCv/wWRGOhlbZt0TTDX/EsLHoKy14om4KouQU%3D", style: "width:100%;min-height:350px;max-height:680px;" %>
	    <div class="w3-round w3-container w3-display-bottomleft  w3-margin" style="color:white;background:#0b5394;opacity:0.6">  
			<h1>Công Ty CPTM Môi Trường Việt</h1>
			<h3><i class="fa fa-phone"></i> 09087668888</h3>
			<h3><i class="fa fa-map-marker"></i> 26, Nguyễn Sỹ Sách, TP.Vinh</h3>
			<a class="w3-btn-floating w3-teal" href="https://www.facebook.com/ydt.nguyen?fref=ts" title="Facebook"><i class="fa fa-facebook"></i></a>
			  
	    	
	    </div>
	    
	      
			
	    	<%= link_to admin_root_path, class: "w3-display-bottomright" do %><p><strong><span style="color: rgb(184, 49, 47);"><i class="fa fa-user" aria-hidden="true"></i> ĐĂNG NHẬP</span></strong></p><% end %>
	    
	    
	    
	    
	</div>
	
	
</footer>