
<div class="w3-main" style="margin:auto;max-width:1260px">
    <div  class="w3-container w3-padding-jumpo">
        <%= render partial: "shared/sidebar" %>
        <div class=" w3-col l9 m9 s12">
            <div  style="margin-bottom:30px" class=" w3-white w3-margin-left w3-container  w3-padding">
                <h1><span><span style="font-size: 48px;"><span style="color: rgb(40, 50, 78);">MÔI TRƯỜNG ASIA</span></span>
	            </span>
                </h1>
                <p><strong><span style="color: rgb(184, 49, 47);">Phòng 606, Toà nhà Trung Đô Tower Đại lộ Lê-nin, Tp. Vinh, Nghệ An </span></strong></p>  
                <div class="videoWrapper w3-coontainer">
                    <iframe  src="https://www.youtube.com/embed/w-1PyQ077Ms" frameborder="0" allowfullscreen></iframe>  </div>
                    <h1>Kinh nghiệm khoan nước tại Đà Nẵng </h1>
                    <div class="videoWrapper w3-coontainer">
                    <iframe  src="https://www.youtube.com/embed/CP-8iXap5Ws" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                    <h1>Trung tâm xét nghiệm nước tại Đồng Nai </h1>
                    <div class="videoWrapper w3-coontainer">
                    <iframe src="https://www.youtube.com/embed/a8QNosPISgE" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                    <h1>Trung tâm xét nghiệm mẫu nước tại Hải Phòng</h1>
                    <div class="videoWrapper w3-coontainer">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vDbyoypUgVs" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                    <h1> Trung tâm xét nghiệm mẫu nước tại Hải Dương</h1>
                    <div class="videoWrapper w3-coontainer">
                    <iframe src="https://www.youtube.com/embed/If0K8It7oBw" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                
                
            </div>
        </div>    
    </div>
</div>    



<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>